<div class="depot_form" >
	<fieldset>
		<legend><%= t('label.home.latestnews') %>&nbsp;&nbsp;<font size=1><%= link_to t('label.home.more'), news_updates_newslist_path %></font></legend>
		<% @news_updates.each do |news_update| %>
		    <% news_update.force_utf %>
			<%= image_tag("/images/arrow.gif", :height => '8', :width => '12', :alt => "New Hope International Education", :class => "round") %>
			<%= link_to news_update.title_cn,  news_updates_newsdetails_path(:id=>news_update, :news_type=>news_update.news_type) %><br/>
		<% end %>
	</fieldset>
</div>
