
<h1>New Hope</h1>
<p>
	This is the home page for New Hope International Education Consulting LLC. Thanks for visiting us.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
