<div class="depot_form" >
	<fieldset>
		<legend>Contact US</legend>
		<b>China:</b> Tel: 86-29-8765-1977, 86-29-8765-1976 &nbsp;&nbsp;&nbsp;Fax: 86-29-8765-1976 &nbsp;&nbsp;&nbsp;Email: info@newhope2011.com
		<br>
		<b>USA:&nbsp;&nbsp;&nbsp;</b> Tel: 224-805-7127 &nbsp;&nbsp;&nbsp;Email: info@newhope.heroku.com
	</fieldset>
</div>
