<div class="depot_form" >
	<fieldset>
		<legend>Participating Schools</legend>
		<% @college_lists.each do |college_list| %>
		    <% college_list.force_utf %>
			<%= link_to college_list.name_cn,  colleges_collegedetail_path(:id=>college_list) %><br/>
		<% end %>
		
		<% @high_school_lists.each do |high_school_list| %>
		    <% high_school_list.force_utf %>
			<%= link_to high_school_list.name_cn,  high_schools_highschooldetail_path(:id=>high_school_list) %><br/>
		<% end %>
		
		<%= link_to "more...", high_schools_allhighschool_path %>
	</fieldset>
</div>
