<h1><%= t('label.highschool.schoolapplication.schoolapplication') %> -> <%= t('label.highschool.schoolapplication.procedure') %></h1>

<% @translation.force_utf %>

<p>
	<%= tt(@translation) %>
</p>

<br><br><br><br><br><br> 
