<h1><%= t('label.testimonial.host') %></h1>
<p>
	This is the <%= t('label.testimonial.host') %> page for New Hope International Education Consulting LLC.
	
	<br><br></br></br>
	The page is under construcation. Please visit it later.
</p>
